body {
  background-image: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 45px;
} 

.container {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 120px;
  padding: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 450px;
  background-color: rgb(0, 0, 0, 0.65);
  /* opacity: 80%; */
  color: white;
  text-align: center;
  border-radius: 50px;
}

.label-text {
  color: white;
  margin: auto;
}

.form-control {
  margin: auto;
  width: 250px;
  height: 40px;
  opacity: 100%; 
  padding: auto;
  padding-right: 0px;
}

.form-container {
  margin: auto;
  opacity: 100%;
}

.btn {
  margin: auto;
  margin-top: 5px;
  width: 250px;
  opacity: 90%;
}

.btn:hover {
  opacity: 100%;
}

footer {
  text-align: center;
  color: white;
  font-size: smaller;
}
